<section>
    <h4>Educación</h4>
    <div class="row">
        <div class="col-2">
            <img src="../../../assets/imagenes/UBA.bmp" style="width: 90%"> 
            <p></p>
        </div>
        <div class="col-9">
            <h5>Universidad de Buenos Aires - Facultad de Ingeniería</h5>
            <p>Ingeniería Mecánica (incompleto - 33 materias aprobadas)<br/>
            1991 - 2005
            </p> 
        </div>
        <div class="col-1">
            <img src="../../../assets/imagenes/editar.jpg" style="float: right; width: 60px;">
            <img src="https://i.ibb.co/KKCjmhB/Eliminar.png" style="float: right; width: 60px;">
        </div>
    </div> 
    <div class="row">
        <div class="col-2">
            <img src="../../../assets/imagenes/Huergo.gif" style="width: 90%"> 
            <p></p>
        </div>
        <div class="col-9">
            <h5>E.N.E.T. Nº 9 Ing. Luis A Huergo</h5>
            <p>Técnico Mecánico<br/>
            (1984 - 1989)
            </p> 
        </div>
        <div class="col-1">
            <img src="../../../assets/imagenes/editar.jpg" style="float: right; width: 60px;">
            <img src="../../../assets/imagenes/Eliminar.png" style="float: right; width: 60px;">
        </div>
    </div>
</section>
