<div class="container">
    <div class="login">
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
            <div class="mb-3">
                <label for="nombre" class="form-label">Usuario</label>
                <input type="text" name="nombre" formControlName="nombre" class="form-control" placeholder="Usuario" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" name="password" formControlName="password" class="form-control" placeholder="Contraseña" required>
            </div>
            <div *ngIf="loginError" class="text-danger">Usuario y/o contraseña incorrectos</div>
            <button type="submit" [disabled]="form.invalid" class="btn">Log in</button>
        </form>
    </div>
</div>