<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="https://i.ibb.co/ygBSzYF/APlogo.png" alt="Logo Argentina Programa" height="80">   #YoProgramo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://twitter.com/?lang=es" target="_blank"><img src="https://i.ibb.co/pLv2s6L/TW.png" alt="Twitter" height="50"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/spideredips/" target="_blank"><img src="https://i.ibb.co/dpCHFkx/IG.png" alt="Instagram" height="50"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/jorge.grasso1/" target="_blank"><img src="https://i.ibb.co/KqMzdMY/FB.png" alt="Facebook" height="50"></a>
          </li>
          <li class="nav-item">
            
            <!--<a class="nav-link" href="#"><img src="https://i.ibb.co/M29fBR9/Login.png" alt="Login"  height="50"></a>-->
            <button class=btn *ngIf="!isUserLogged" routerLink="/login" title="Inicia sesion para editar"><img src="https://i.ibb.co/M29fBR9/Login.png" alt="Login"  height="50"></button>
            <button class=btn *ngIf="isUserLogged" (click)="logOut()" title="Cerrar sesion"><img src="https://i.ibb.co/B6pcVw2/Logout.jpg" alt="Login" height="50"></button>
          </li>
        <!--  <button *ngIf="!isUserLogged" class="btn" routerLink="/login" data-bs-toggle="modal" data-bs-target="#modalLogin" title="Inicia sesion para editar"><i class="fa-solid fa-wand-magic-sparkles"></i></button>
        <button class="btn" *ngIf="isUserLogged" (click)="logOut()" data-bs-toggle="modal" data-bs-target="#modalLogin" title="Cerrar sesion"><i class="fa-solid fa-right-from-bracket"></i></button>-->
        </ul>
        
      </div>

    </div>
    
</nav>


