<section>
    <h4>Experiencia</h4>
    <div class="row">
        <div class="col-2">
        <img src="../../../assets/imagenes/Enargas-modified.jpg" style="width: 90%"> 
        <p></p>
        </div>
        <div class="col-9">
        <h5>Analista en ENARGAS, Gerencia de Protección del Usuario</h5>
        <p>Auditorías a empresas distribuidoras de gas<br/>
        Control de informes, seguimiento de imputaciones, expedientes<br/>
        Análisis estadístico de reclamos</p> 
        </div> 
        <div class="col-1">
            <img src="https://i.ibb.co/SNzNJM5/editar.jpg" alt="Editar" style="float: right; width: 50px;">
            <img src="https://i.ibb.co/KKCjmhB/Eliminar.png" alt="Eliminar" style="float: right; width: 50px;">
        </div>
    </div> 
    <div class="row">
        <div class="col-2">
        <img src="https://i.ibb.co/Thhw7nP/IGA-BN.png" style="width: 90%"> 
        <p></p>
        </div>
        <div class="col-9">
        <h5>Empleado en Instituto del Gas Argentino (1998 - 2009)</h5>
        <p><b>Laboratorio de instrumentos (1998 - 2007):</b></p> 
            <li>Calibración y mantenimiento de instrumentos y equipos de medición y ensayo</li>
            <li>Diseño de ensayos conforme a normas</li>
            <li>Compra de instrumentos y equipos de medición y ensayo</li>
            <li>Auditor interno y externo de Sistemas de Calidad, acorde con ISO 9000 e ISO 17025</li>
            <li>Redacción de procedimientos y documentos relacionados al Sistema de Calidad de la empresa</li>
        <p></p>    
        <p><b>Area GNC/GLP (2007 - 2009):</b></p>  
            <li>Auditorías de certificación y seguimiento a Centros de Revisión Periódica de Cilindros (CRPC)</li>
            <li>Auditorías de certificación y seguimiento a Productores de Equipos Completos (PEC)</li>
            <li>Auditorías de certificación y seguimiento a talleres de montaje (TDM)</li>
            <li>Revisión de manuales de calidad y procedimientos conforme a normas de CRPC y PEC</li>
            <li>Evaluador de ensayos en certificación de productos</li>
            <li>Auditorías de seguridad a plantas de fraccionamiento de gas licuado de petróleo</li>
        </div> 
        <div class="col-1">
            <img src="../../../assets/imagenes/editar.jpg" style="float: right; width: 40px;">
            <img src="https://i.ibb.co/KKCjmhB/Eliminar.png" style="float: right; width: 40px;">
        </div>
    </div> 
</section>