<section>
    <div class="row">
        <div class="col-11">
        <h4>Hard Skills & Soft Skills</h4>
        </div>
        <div class="col-1">
            <img src="../../../assets/imagenes/editar.jpg" style="float: right; width: 60px;">
            <img src="https://i.ibb.co/KKCjmhB/Eliminar.png" style="float: right; width: 60px;">
        </div>

    </div>    
    <h6>Sarasa 1</h6>
    <p></p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p></p><br>
    <h6>Sarasa 2</h6>
    <p></p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p></p><br>
    <h6>Sarasa 3</h6>
    <p></p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p></p><br>
    <h6>Sarasa 4</h6>
    <p></p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p></p><br>
    <h6>Sarasa 5</h6>
    <p></p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</section>

