<section>
    <h4>Cursos</h4>
    <div class="row">
        <div class="col-2">
        <img src="../../../assets/imagenes/Iram.jpg" style="width: 90%"> 
        <p></p>
        </div>
        <div class="col-9">
            <h5>IRAM - Instituto Argentino de Normalización y Certificación</h5>
            <li>Metrología - Calidad de las Mediciones - Requisitos de las Normas Internacionales</li> 
            <li>ISO 9000 para Pymes- Introducción a las normas e Implementación</li> 
            <li>Formación de auditores Internos del sistema de la Calidad</li> 
            <li>Validación de Software de Laboratorio</li> 
            <li>Calidad en Laboratorios- Introducción a la Norma IRAM 301 (ISO/IEC 17025)</li> 
            <li>Formación de Auditores Internos de Sistemas de la Calidad en Laboratorios</li>
        </div> 
        <div class="col-1">
            <img src="../../../assets/imagenes/editar.jpg" style="float: right; width: 60px;">
            <img src="../../../assets/imagenes/Eliminar.png" style="float: right; width: 60px;">
        </div>
    </div> 
</section>
