<section>
    <h4>Acerca de mi</h4>
    <p></p>

<div class="container-fluid" id="main-container">
<div *ngFor="let a of acercas">
    <div class="row">
    <div class="col-2">
        <img src={{a.imageUrl}} style="width: 90%"> 
        <p></p>
    </div>
    <div class="col-9">
        <p>{{a.descripcion1}}<br/>
        {{a.descripcion2}}<br/>
        {{a.descripcion3}}</p>
    </div> 
    <div class="col-1">
        <button (click)="onOpenModal(a,'edit')" type="button"> 
            <img src="https://i.ibb.co/SNzNJM5/editar.jpg" style="width: 30px;">
        </button>
    </div>
    </div>
</div>
</div>

<!-- Modal para editar descripción Acerca de mi -->

<div class="modal fade" id="updateAcercaModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="updateAcercaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar descripción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <label for="imageUrl">Foto</label><br>
                    <input ngModel="{{editAcerca?.imageUrl}} " type="text" name="imageUrl" class="form-control">
                    
                    <label for="descripcion1">1º texto</label><br>
                    <input ngModel="{{editAcerca?.descripcion1}}" type="text" name="descripcion1"  class="form-control">
                    
                    <label for="descripcion2">2º texto</label><br>
                    <input ngModel="{{editAcerca?.descripcion2}}" type="text" name="descripcion2"  class="form-control">

                    <label for="descripcion3">3º texto</label><br>
                    <input ngModel="{{editAcerca?.descripcion3}}" type="text" name="descripcion3"  class="form-control">
                    
                    <input type="hidden" name="id" ngModel="{{editAcerca?.id}} "><br>
                    <div class="modal-footer">
                        <button id="update-acerca-modal" type="button" class="btn" data-dismiss="modal">Cancelar</button>
                        <button (click)="onUpdateAcerca(editForm.value)" type="button" class="btn" data-dismiss="modal">Guardar cambios</button>
                    </div>
                </form>
            </div>
            
            
            
            
        </div>
    </div>
</div>

</section>